* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Menlo", sans-serif;
}

.slider {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-arrow {
    position: absolute;
    /* top: 528px;
    left: 930px; */
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}
.left-arrow {
    position: absolute;
    /* top: 528px;
    right: 91%; */
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #000;
        z-index: 10;
    cursor: pointer;
    user-select: none;
}